# DATABASE

POSTGRES_USER=postgresusername
POSTGRES_PASSWORD=secretpassword
POSTGRES_DB=rozgrywkitenisa

# FRONTEND

# BACKEND

SPRING_DATASOURCE_URL=jdbc:postgresql://rozgrywkitenisa-postgres:5432/rozgrywkitenisa
SPRING_DATASOURCE_USERNAME=postgresusername
SPRING_DATASOURCE_PASSWORD=secretpassword
FIRST_SUPER_ADMIN_EMAIL=admin@example.com
# For local developement
ROZGRYWKITENISA_ORIGIN=http://localhost

# For production
# ROZGRYWKITENISA_ORIGIN=https://www.rozgrywkitenisa.pl


SPRING_MAIL_HOST=example.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=user@example.com
SPRING_MAIL_PASSWORD=password

# CERTBOT

CERTBOT_DOMAIN=exampledomain.com
CERTBOT_EMAIL=user@example.com
