# DATABASE

POSTGRES_USER=postgresusername
POSTGRES_PASSWORD=secretpassword
POSTGRES_DB=rozgrywkitenisa

# FRONTEND

# NODE_TLS_REJECT_UNAUTHORIZED=0

# BACKEND

SPRING_DATASOURCE_URL=jdbc:postgresql://rozgrywkitenisa-postgres:5432/rozgrywkitenisa
SPRING_DATASOURCE_USERNAME=postgresusername
SPRING_DATASOURCE_PASSWORD=secretpassword

